annotated-types==0.7.0
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
contourpy==1.3.0
cycler==0.12.1
Deprecated==1.2.15
distlib==0.3.9
docker-pycreds==0.4.0
eval_type_backport==0.2.2
filelock==3.13.1
fonttools==4.55.6
fsspec==2024.2.0
gitdb==4.0.12
GitPython==3.1.44
humanize==4.11.0
identify==2.6.5
idna==3.10
importlib_resources==6.5.2
Jinja2==3.1.3
joblib==1.4.2
kiwisolver==1.4.7
lightning-utilities==0.11.9
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
mdurl==0.1.2
mpmath==1.3.0
networkx==3.2.1
nibabel==5.3.2
nodeenv==1.9.1
numba==0.60.0
numpy==1.26.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
packaging==24.2
pillow==10.2.0
platformdirs==4.3.6
pre_commit==4.0.1
protobuf==5.29.3
psutil==6.1.1
pydantic==2.10.5
pydantic_core==2.27.2
Pygments==2.19.1
pynndescent==0.5.13
pyparsing==3.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.1
scipy==1.13.1
sentry-sdk==2.20.0
setproctitle==1.3.4
shellingham==1.5.4
SimpleITK==2.4.1
six==1.17.0
smmap==5.0.2
submitit==1.5.2
sympy==1.13.1
threadpoolctl==3.5.0
toml==0.10.2
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchio==0.20.3
torchmetrics==1.6.1
torchvision==0.20.1+cu118
tqdm==4.67.1
triton==3.1.0
typer==0.15.1
types-requests==2.32.0.20241016
types-toml==0.10.8.20240310
types-tqdm==4.67.0.20241221
typing_extensions==4.12.2
umap-learn==0.5.7
urllib3==2.3.0
virtualenv==20.29.0
wandb==0.19.3
wrapt==1.17.2
zipp==3.21.0
